/* @keyframes blink {
    0%, 100% {
      color: var(--blue); 
    }
    50% {
      color: orange;
    }
  } */

  .blink {
    color: var(--orange);
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }


.countdown {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 0px;

    &__dots {
        font-family: 'Bebas Neue';
        font-weight: 400;

        font-size: 35px;
        margin-bottom: 15px;
        color: var(--blue);
        border-radius: 100%;
    }

    &__digit {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 110px;

        &_number {
            font-family: 'Bebas Neue';
            font-weight: 700;
            font-size: 60px;
            height: 55px;
            color: var(--blue);
           
        }
    }

    &__messure {
        display: flex;
        justify-content: space-around;
        gap: 30px;

        &_item {
            font-family: 'Bebas Neue';
            font-weight: 400;
            color: #818798;
            font-size: 16px;
        }
    }
}