.main {
    padding: 27px 0 107px 0;
    background-color: var(--mainBg);

    &__content {
        display: flex;
        gap: 79px;
        margin-top: 68px;

        @media screen and (max-width: 1150px) {
            align-items: center;
            flex-direction: column;
            gap: 29px;
        }

        @media screen and (max-width: 1100px) {
            gap: 29px;
        }

        @media screen and (max-width: 740px) {
            margin-top: 20px;
        }

        img {
            width: 39%;
            @media screen and (max-width: 500px) {
                width: 80%;
            }
        }

        &_info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media screen and (max-width: 1100px) {
                justify-content: unset;
                gap: 15px;
            }
        }

        &_items {
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
            width: 100%;
            height: 456px;

            @media screen and (max-width: 1100px) {
                flex-direction: column;
                flex-wrap: nowrap;
                height: 65%;
                justify-content: unset;
            }
        }

        &_descr {
            font-family: 'PT Root UI';
            font-size: 18px;
            font-weight: 500;
            line-height: 23.4px;

            @media screen and (max-width: 740px) {
                font-size: 14px;
                line-height: 18.2px;
            }
        }
    }

    h1 {
        font-family: "Rubik";
        font-weight: 700;
        font-size: 40px;
        text-align: center;
        color: var(--black);
        text-align: left;

        @media screen and (max-width: 850px) {
            font-size: 35px;
        }

        @media screen and (max-width: 630px) {
            font-size: 30px;
        }

        @media screen and (max-width: 500px) {
            font-size: 24px;
            text-align: center;
        }
    }
}

.policy {
    margin-top: 26px;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 80%;

    font-family: 'PT Root UI';
    font-size: 16px;
    font-weight: 400;
    line-height: 17.6px;
    text-align: left;

    &__agree {
        font-family: 'PT Root UI';
        font-size: 16px;
        font-weight: 400;
        color: #818798;
        line-height: 18.2px;

        @media screen and (max-width: 740px) {
            font-size: 14px;
            line-height: 17.6px;
        }
    }

    &__blue {
        color: var(--blue);
    }

    /* Hide the browser's default checkbox */
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 24px;
        width: 24px;
        border-radius: 4.8px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    &:hover input~.checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    input:checked~.checkmark {
        background-color: #01B9C5;
        border-radius: 4.8px;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    input:checked~.checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

.buy__btn {
    margin: 50px 0 30px 0;

    @media screen and (max-width: 1150px) {
        margin: 10px auto 10px auto;
    }
}