.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 41px 40px 40px  40px;

    height: 100%;


    h2 {
        font-family: 'Rubik';
        font-size: 30px;
        font-weight: 700;

        span {
            color: var(--blue);
        }
    }

    p {
        font-family: 'PT Root UI';
        font-size: 24px;
        font-weight: 500;
    }

    .gift {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85%;
        height: 59px;
        border-radius: 30px;
        border: #01B9C5 1.5px solid;

        font-family: 'PT Root UI';
        font-size: 24px;
        font-weight: 700;

        span {
            color: var(--blue);
        }
    }

    &__offer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

        p {
            font-family: 'PT Root UI';
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 20px;
        }
    }

    &__items {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    &__item {
        //position: relative;

        width: 210px;
        min-height: 197px;
        padding: 26px 22px 20px 26px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        border-radius: 20px;
        border: #E7EAF1 2px solid;

        &_name {
            display: flex;
            justify-content: space-between;
            p {
                font-family: 'Bebas Neue';
                font-size: 26px;
                font-weight: 400;
            }
        }

        &_discount {
            font-family: 'PT Root UI';
            font-size: 20px;
            font-weight: 700;
            color: #2D3242;
        }

        &_price {
            //border-top: #E7EAF1 1px solid;
            padding-top: 24px;
            display: flex;

            p {
                font-family: 'PT Root UI';
                font-size: 46px;
                font-weight: 700;
            }

            .star {
                height: 53px;
                width: 53px;
                position: relative;

                &__icon {
                    position: absolute;
                    top: -35%;
                }
            }
        }
    }
}

.chosenItem {
    //active item
    border: var(--blue) 2px solid;
    background: var(--lightBlue);
    cursor: pointer;
}

///
.radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #FFFF;
    border-radius: 50%;
    border: #555965 2px solid;

}

.radio {

    /* &:hover input ~ .checkmark {
      background-color: #FFFF;
      border: var(--blue) 2px solid;
    } */

    input:checked~.checkmark {
        background-color: #FFFF;
        border: var(--blue) 2px solid;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    input:checked~.checkmark:after {
        display: block;

    }

    .checkmark:after {
        top: 4px;
        left: 4px;
        width: 65%;
        height: 65%;
        border-radius: 50%;
        background: var(--blue);
    }
}