.button {
    all: unset;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    font-size: 20px;

    &:hover {
        background-color: rgb(171, 145, 93);
    }
}

.large {
    font-family: 'Rubik';
    font-size: 20px;
    font-weight: 500;
    width: 310px;
    height: 62px;
    border-radius: 30px;
    background: var(--orange);

    @media screen and (max-width: 850px) {
        width: 295px;
        height: 62px;
    }
}

.small {
    font-family: 'Rubik';
    font-size: 20px;
    font-weight: 500;

    width: 281px;
    height: 76px;
    border-radius: 60px;
    background: var(--orange);

    @media screen and (max-width: 850px) {
        width: 335px;
        height: 76px;
    }
}