.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
    margin: 0 auto;
    max-width: 380px;
    p {
        font-family: 'PT Root UI';
        font-weight: 700;
        font-size: 30px;
        color: var(--black);
    }
}

.countdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    &__dots {
        font-family: 'Bebas Neue';
        font-weight: 400;

        font-size: 35px;
        margin-bottom: 30px;
        color: var(--blue);
        border-radius: 100%;
    }

    &__digit {
        display: flex;
        flex-direction: column;
        align-items: center;
        

        &_number {
            font-family: 'Bebas Neue';
            font-weight: 700;
            font-size: 60px;
            height: 55px;
            color: var(--blue);
        }

        &__messure {
            font-family: 'Bebas Neue';
            font-weight: 400;
            color: #818798;
            font-size: 16px;
        }
    }
}